<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" type="text/css" href="">
    <style type="text/css"></style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <label for="user">用户名</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="user" name="user">
        </p>
        <p>
            <label for="pwd">密码</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="pwd" name="pwd">
        </p>
        <p>
            <label for="email">邮箱</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="email" name="email">
        </p>
        <p>
            <input type="submit" value="注册">
        </p>

        <input type="submit" value="注册">
    </form>


    <script type="text/javascript" src=""></script>
    <script type="text/javascript"></script>
</body>
</html>