{% extends 'base.html' %}


{% block content %}

    <div class="article_info">
        {% csrf_token %}
        <h3 class="text-center title">{{ article_obj.title }}</h3>
        <div class="cont">
            {{ article_obj.content|safe }}
        </div>

        <div id="div_digg">

            <div class="diggit action">
                <span class="diggnum" id="digg_count">{{ article_obj.up_count }}</span>
            </div>
            <div class="buryit action">
                <span class="burynum" id="bury_count">{{ article_obj.down_count }}</span>
            </div>
            <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>

        <div class="clear"></div>

        <div id="blog-comments-placeholder">

            <div class="feedback_area_title">评论列表</div>

            <a href="javascript:void(0);" id="tree_btn">评论树</a>
            <div id="comment_tree">

            </div>

            <div class="feedbackItem" id="comment_detial">
                    {% for item in comment_list %}
                    <div class="feedbackListSubtitle">
                        <div class="feedbackManage">
                            <a href="javascript: void(0)" class="layer">#{{ forloop.counter }}楼</a>&nbsp;&nbsp;
                            <span class="comment_date">{{ item.create_time|date:'Y-m-d H:i:s' }}</span>&nbsp;&nbsp;
                            <a id="a_comment_author_4235589" href="/blog/{{ item.user.username }}" target="_blank">{{ item.user.username }}</a>
                            <a href="javascript: void(0);" class="pull-right feedback" username="{{ item.user.username }}" comment_id="{{ item.pk }}">回复</a>
                        </div>

                    </div>
                    {% if item.parent_comment_id %}
                        <div class="pad_info well">
                            <p>
                                {{ item.parent_comment.user.username }}:{{ item.parent_comment.content }}
                            </p>
                        </div>

                    {% endif %}
                    <div class="feedbackCon">
                        <div id="comment_body" class="blog_comment_body">{{ item.content }}</div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>

        </div>

        <div id="comment" class="commentform">

            <div id="comment_nav" class="pull-right">
                <span id="span_refresh_tips"></span>
                <a href="#" >刷新评论</a>&nbsp;&nbsp;
                <a href="#">刷新页面</a>&nbsp;&nbsp;
                <a href="#top">返回顶部</a>
            </div>

            <div id="comment_form_container">

                <div id="commentform_title">发表评论</div>
                <p>
                    昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50"
                              value="{{ user.username }}">
                </p>
                <div class="commentbox_main">

                    <textarea id="tbCommentBody" class="comment_textarea"></textarea>
                </div>
                <p id="commentbox_opt">
                    <input id="btn_comment_submit" type="button" class="comment_btn" value="提交评论">&nbsp;&nbsp;
                    &nbsp;&nbsp;<a href="javascript:void(0);">退出</a>&nbsp;&nbsp;
                    <a id="commentbox_opt_sub" href="javascript:void(0);" title="订阅后有新评论时会邮件通知您">订阅评论</a>
                </p>

            </div>

        </div>



        <style type="text/css">
            #div_digg{
                float: right;
                margin-bottom: 10px;
                margin-right: 30px;
                font-size: 12px;
                width: 125px;
                text-align: center;
                margin-top: 10px;
            }

            .diggit {
                float: left;
                width: 46px;
                height: 52px;
                background: url('/static/blog/images/upup.gif') no-repeat;
                text-align: center;
                cursor: pointer;
                margin-top: 2px;
                padding-top: 5px;
            }

            .buryit {
                float: right;
                margin-left: 20px;
                width: 46px;
                height: 52px;
                background: url('/static/blog/images/downdown.gif') no-repeat;
                text-align: center;
                cursor: pointer;
                margin-top: 2px;
                padding-top: 5px;
            }

            .clear {
                clear: both;
            }

            .article_info{
                background-color: white;
                padding: 10px 10px;
            }
            .diggword {
                margin-top: 5px;
                margin-left: 0;
                font-size: 12px;
            }

            #comment {
                margin: 10px 0;
                padding: 25px;
                border-radius: 10px;
                height: 343px;
                background-color: #fff;
            }

            #commentform_title {
                color: #aaa;
                background-image: none;
                background-repeat: no-repeat;
                margin-bottom: 10px;
                padding: 10px 20px 10px 10px;
                font-size: 24px;
                font-weight: bold;
                border-bottom: 1px dashed #ccc;
            }

            #comment_nav {
                margin-top: 18px;
            }

            #tbCommentBody {
                width: 98%;
                margin-top: 10px;
                background: white;
                color: #333;
                border: 2px solid #fff;
                box-shadow: inset 0 0 8px #aaa;
                height: 120px;
                font-size: 14px;
                min-height: 120px;
                border-radius: 10px;
            }

            #blog-comments-placeholder {
                border: solid 1px #CCC;
                border-radius: 5px;
            }

            .feedback_area_title {
                padding: 10px;
                font-size: 24px;
                font-weight: bold;
                color: #aaa;
                border-bottom: 1px dashed #ccc;
            }

            .feedbackItem {
                color: #464646;
                position: relative;
                font-size: 14px;
                line-height: 24px;
                margin: 10px 0;
                padding: 20px;
                padding-top: 5px;
            }

            .feedbackCon {
                background: none;
                clear: both;
                margin: 10px 0 0 30px;
            }

            .tree_item{
                margin-left: 20px;
            }
        </style>

        <script type="text/javascript" src="/static/blog/jQuery3.4.1.js"></script>

        <script type="text/javascript">

            //判断用户是否登录过
            if (`{{ request.user.is_authenticated }}` === 'False') {

                $('#comment').addClass('hidden');
                $('.feedback').addClass('hidden');
            }

            //点赞
            $('#div_digg .action').click(function () {
                var is_up = $(this).hasClass('diggit');
                var $obj = $(this).children('span');

                if (`{{ request.user.is_authenticated }}` === 'True') {

                    $.ajax({
                    url:'/blog/digg/',
                    type:'post',
                    data:{
                        'is_up': is_up,
                        'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val(),
                        'article_id': '{{ article_obj.pk }}'
                    },
                    success:function (data) {

                       if (data.is_handled) {

                           var val = parseInt($obj.text());
                           $obj.text(val+1);
                            /*if (is_up){
                                $('#digg_count').html(Number($('#digg_count').val())+1)
                            }
                            else {
                                $('#bury_count').html(Number($('#bury_count').val())+1)
                            }*/

                        }
                        else {

                            var val = data.is_handled?'您已经反对过!':'您已经支持过!';
                            $('#digg_tips').html(val);
                            /*if (data.is_up) {
                                $('#digg_tips').html('您已经支持过!')
                            }
                            else {
                                $('#digg_tips').html('您已经反对过!');
                            }*/
                            setTimeout(function () {
                                    $('#digg_tips').html('')
                                }, 2000)
                        }

                    }

                })

                 }
                else {
                    $('#digg_tips').html('请登录后再操作!');
                    setTimeout(function () {
                                    $('#digg_tips').html('')
                                }, 2000)
                }
            });


            //评论的ID
            var pid = "";
            //发表评论
            $('#btn_comment_submit').click(function () {

                var comment_content = $('#tbCommentBody').val();
                var article_id = `{{ article_obj.pk }}`;
                if (pid){
                    var index = comment_content.indexOf('\n');
                    comment_content = comment_content.slice(index+1)
                }

                $.ajax({
                    url:'/blog/comments/',
                    type: 'post',
                    data:{
                        'csrfmiddlewaretoken':$('[name=csrfmiddlewaretoken]').val(),
                        'parent_comment': pid,
                        'article_id': article_id,
                        'comment_content': comment_content,
                    },
                    success:function (data) {
                        console.log(data);
                        var content = data.content;
                        var comment_user = data.create_user;
                        var create_time = data.create_time;

                        var s = `
                                    <div class="feedbackListSubtitle">
                                        <div class="feedbackManage">
                                            <a href="#" class="layer">#楼</a>&nbsp;&nbsp;
                                            <span class="comment_date">${create_time}</span>&nbsp;&nbsp;
                                            <a id="a_comment_author_4235589" href="#" target="_blank">${comment_user}</a>
                                            <span class="comment_actions pull-right"><a href="#">编辑</a></span>
                                        </div>

                                    </div>

                                    <div class="feedbackCon">
                                        <div id="comment_body" class="blog_comment_body">${content}</div>
                                    </div>
                                 <hr>`;

                        $('#comment_detial').append(s);


                        //情况评论框

                        pid = "";
                        $('#tbCommentBody').val('');
                    }
                })
            });

            //对评论进行评论
            $('.feedback').click(function () {

                //点击回复后评论输入框聚焦
                $('#tbCommentBody').focus();
                $('#tbCommentBody').val('@'+$('.feedback').attr('username')+'\n');

                pid = $(this).attr('comment_id');

            });

            //评论树
            $('#tree_btn').click(function () {
                var article_pk = `{{ article_obj.pk }}`;

                $.ajax({
                    url:'/blog/comment_tree/',
                    type:'get',
                    data:{
                        'article_pk': article_pk,
                    },
                    success:function (data) {
                        console.log(data);

                        $.each(data, function (index, tree_item) {

                            //console.log(tree_item);
                            var comment_pk = tree_item.pk;
                            var tree_content = tree_item.content;
                            var parent_id = tree_item.parent_comment_id;
                            console.log(comment_pk);
                            console.log(tree_content);
                            console.log(parent_id);
                            var s = `<div class="tree_item" comment_id="${comment_pk}"><span>${tree_content}</span></div>`;

                            if (!parent_id){

                                $('#comment_tree').append(s)
                            }
                            else {
                                $(`[comment_id="${parent_id}"]`).append(s)
                            }
                        })
                    }
                })

            })

        </script>

    </div>

{% endblock %}



