<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--媒体查询视口设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="/static/blog/bootstrap-3.3.7/css/bootstrap.css">
    <style type="text/css">
        #box{
            margin-top: 80px;

        }

        #box h3{
            text-align: center;
            margin-top: -30px;
            margin-bottom: 50px;
        }

        #valid_img{
            margin-top: 15px;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row proc">
            <div class="col-lg-5 thumbnail col-lg-offset-4" id="box">

                <div class="col-lg-10 col-lg-offset-1" id="box">

                    <h3>用户登录</h3>
                    <form>
                        {% csrf_token %}
                        <div class="form-group" >
                            <label for="user">用户名</label>
                            <input type="text" id="user" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="pwd">密码</label>
                            <input type="password" id="pwd" class="form-control">
                        </div>
                        <div class="form-group">

                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="valid_code">验证码</label>
                                    <input type="text" class="form-control" id="valid_code">
                                </div>
                                <div class="col-lg-6 col-lg-offset-2" id="valid_img">
                                    <img height="50px" width="170px" src="/blog/get_valid_img/">
                                </div>
                            </div>
                        </div>
                        <input type="button" class="btn  btn-info" id="login_btn" value="登录">
                        <span id="error" class="pull-right" style="color: red;margin-top: 8px"></span>
                    </form>

                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="/static/blog/jQuery3.4.1.js"></script>
    <script type="text/javascript" src="/static/blog/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        //刷新验证码
        $('#valid_img>img').click(function () {
            $(this)[0].src += '?'
        });

        //登录验证
        $('#login_btn').click(function () {

            $.ajax({
                url:'',
                type:'post',
                data:{
                    user:$('#user').val(),
                    pwd:$('#pwd').val(),
                    valid_code:$('#valid_code').val(),
                    csrfmiddlewaretoken:$('[name=csrfmiddlewaretoken]').val()
                },
                success:function (data) {
                    console.log(data);

                    if (data.user) {
                        location.href = '/blog/index/'
                    }
                    else {
                        $('#error').text(data.msg)
                    }
                }
            })
        })

    </script>
</body>
</html>

