<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="/static/jQuery3.4.1.js"></script>
    <style type="text/css">
        .row{
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{##}
{#                <div class="form-group">#}
{#                    <label for="user">用户名</label>#}
{#                    <input type="text" id="user" class="form-control" name="user">#}
{#                    <span>{{ form.user.errors.0 }}</span>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="pwd">密码</label>#}
{#                    <input type="text" id="pwd" class="form-control" name="pwd">#}
{#                    <span>{{ form.pwd.errors.0 }}</span>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="r_pwd">确认密码</label>#}
{#                    <input type="text" id="r_pwd" class="form-control" name="r_pwd">#}
{#                    <span>{{ error.0 }}</span>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="email">邮箱</label>#}
{#                    <input type="email" id="email" class="form-control" name="email">#}
{#                    <span>{{ form.email.errors.0 }}</span>#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    <label for="tel">手机号</label>#}
{#                    <input type="text" id="tel" class="form-control" name="tel">#}
{#                    <span>{{ form.tel.errors.0 }}</span>#}
{#                </div>#}
{#                <input type="submit" value="注册" class="btn btn-primary">#}
{#                <button type="button" class="btn btn-primary">注册</button>#}
{#            </form>#}


{#        <hr>#}
{#        <h3>from控件渲染表单标签方式一</h3>#}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            <p>用户名#}
{#                {{ form.user }}#}
{#            </p>#}
{#            <p>密码#}
{#                {{ form.pwd }}#}
{#            </p>#}
{#            <p>邮箱#}
{#                {{ form.email }}#}
{#            </p>#}
{#            <p>电话#}
{#                {{ form.tel }}#}
{#            </p>#}
{##}
{#            <input type="submit" value="注册">#}
{#        </form>#}
{##}
{#        <hr>#}
{#        -->#}

{#        <h3>from控件渲染表单标签方式二</h3>#}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            {% for item in form %}#}
{#                <div class="form-group">#}
{#                    {{ item.label }}#}
{#                    {{ item }}#}
{#                    <span class="pull-right" style="color: red">{{ item.errors.0 }}</span>#}
{#                </div>#}
{#            {% endfor %}#}
{#            <input type="submit" value="注册">#}
{#        </form>#}

{#        <hr>#}



{#        <h3>from控件渲染表单标签方式三（不推荐使用）</h3>#}
{#        <form action="" method="post">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}  <!--as_p代表用p标签包裹-->#}
{#            <input type="submit" value="注册">#}
{#        </form>#}


            <h3>渲染错误信息</h3>
            <form action="" method="post">
                {% csrf_token %}
                <p>用户名
                    {{ form.user }} <span class="pull-right" style="color: red">{{ form.user.errors.0 }}</span>
                </p>
                <p>密码
                    {{ form.pwd }} <span class="pull-right" style="color: red">{{ form.pwd.errors.0 }}</span>
                </p>
                <p>确认密码
                    {{ form.r_pwd }} <span class="pull-right" style="color: red">{{ errors.0 }}</span>
                </p>
                <p>邮箱
                    {{ form.email }} <span class="pull-right" style="color: red">{{ form.email.errors.0 }}</span>
                </p>
                <p>电话
                    {{ form.tel }} <span class="pull-right" style="color: red">{{ form.tel.errors.0 }}</span>
                </p>

                <input type="submit" value="注册">

            </form>


         </div>

    </div>
</body>
</html>