{% extends 'base.html' %}
{% load rbac %}

{% block rbac_content %}
<div>
    <ol class="breadcrumb no-radius no-margin" style="border-bottom: 1px solid #ddd;">
        {% for item in request.breadcrumb %}
            {% if item.class %}
                <li class="{{ item.class }}">{{ item.title }}</li>
            {% else %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}

    </ol>
</div>
<div class="luffy-container">
    <form method="post" action="?type=generate">
        {% csrf_token %}
        {{ generate_formset.management_form }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-th-list" aria-hidden="true"></i>待添加权限
                <button href="#" class="right btn btn-primary btn-xs" style="padding: 2px 8px;margin: -3px">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>保存
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>URL</th>
                        <th>别名</th>
                        <th>菜单</th>
                        <th>父权限</th>
                    </tr>
                </thead>
                <tbody>
                {% for form in generate_formset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for field in form %}
                            <td>{{ field }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-th-list" aria-hidden="true"></i>待删除权限
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>URL</th>
                    <th>别名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for form in delete_row_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ form.title }}</td>
                <td>{{ form.url }}</td>
                <td>{{ form.name }}</td>
                <td>
                    <a href="{% memory_url request 'ppp:multi_permission_del' pk=form.id %}" style="color: #d9543f;"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>

    <form method="post" action="?type=update">
        {% csrf_token %}
        {{ update_formset.management_form }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-th-list" aria-hidden="true"></i>待更新权限
                <button href="#" class="right btn btn-primary btn-xs" style="padding: 2px 8px;margin: -3px">
                    <i class="fa fa-floppy-o" aria-hidden=""></i>保存
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>名称</th>
                        <th>URL</th>
                        <th>别名</th>
                        <th>菜单</th>
                        <th>父权限</th>
                    </tr>
                </thead>
                <tbody>
                {% for form in update_formset %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% for field in form %}
                            {% if forloop.first %}
                                {{ field }}
                            {% else %}
                                <td>{{ field }}<span style="color: red;">{{ field.errors.0 }}</span></td>
                            {% endif %}
                        {% endfor %}
                        
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
    </form>
</div>

{% endblock %}