{% extends 'base.html' %}
{% load rbac %}

{% block rbac_content %}

<div>
    <ol class="breadcrumb no-radius no-margin" style="border-bottom: 1px solid #ddd">
        {% for item in request.breadcrumb %}
            {% if item.class %}
                <li class="{{ item.class }}">{{ item.title }}</li>
            {% else %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ol>
</div>

    <div class="luffy-container">
        <div class="btn-group" style="margin: 5px 0">
            <a class="btn btn-default" href="{% memory_url request 'ppp:user_add' %}">
                <i class="fa fa-plus-square" aria-hidden="true"></i>添加用户
            </a>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>密码重置</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% for row in users  %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.email }}</td>
                    <td>
                        <a href="{% memory_url request 'ppp:user_reset_pwd' pk=row.id %}">
                            <i aria-hidden="true">密码重置</i>
                        </a>
                    </td>
                    <td>
                        <a style="color: #333333;" href="{% memory_url request 'ppp:user_edit' pk=row.id %}">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a style="color: #d9534f;" href="{% memory_url request 'ppp:user_del' pk=row.id %}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>

{% endblock %}