{% extends 'rbac/rbac_base.html' %}
{% load rbac %}


{% block rbac_content %}

    <div>
        <ol class="breadcrumb no-radius no-margin" style="border-bottom: 1px solid #ddd;">
            {% for item in request.breadcrumb %}
                {% if item.class %}
                    <li class="{{ item.class }}">{{ item.title }}</li>
                {% else %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}

        </ol>
    </div>

    <div class="luffy-container">
        <div class="btn-group" style="margin: 5px 0">
            {% if request|has_permission:"rbac:user_add" %}
            <a class="btn btn-default"  href="{% url 'rbac:user_add' %}">
                <i class="fa fa-plus-square" aria-hidden="true"></i> 添加用户
            </a>
            {% endif %}

        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>邮箱</th>
                <th>密码重置</th>
                {% if request|has_permission:"rbac:user_edit" or request|has_permission:"rbac:user_del" %}
                <th>操作</th>
                {% endif %}

            </tr>
            </thead>
            <tbody>
            {% for row in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.email }}</td>
                    {% if request|has_permission:"rbac:user_reset_pwd" %}
                    <td>
                        <a href="{% url 'rbac:user_reset_pwd' pk=row.id %}">
                            <i aria-hidden="true">密码重置</i>
                        </a>
                    </td>
                    {% endif %}

                    {% if request|has_permission:"rbac:user_edit" or request|has_permission:"rbac:user_del" %}
                    <td>
                        {% if request|has_permission:"rbac:user_edit" %}
                        <a style="color: #333333;" href="{% url 'rbac:user_edit' pk=row.id %}">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        {% endif %}

                        {% if request|has_permission:"rbac:user_del" %}
                        <a style="color: #d9534f;" href="{% url 'rbac:user_del' pk=row.id %}"><i
                                class="fa fa-trash-o"></i>
                        </a>
                        {% endif %}

                    </td>
                {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
   </div>


{% endblock %}
