<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="">
    <style type="text/css"></style>
</head>
<body>
    <h1>模糊查询</h1>
    <hr>
    <h3>大于：__gt，小于__lt</h3>
    <p>{{ book_big }}</p>
    <p>{{ book_b_s }}</p>

    <hr>
    <h3>__startswith以什么为开始</h3>
    <p>{{ book_start }}</p>

    <hr>
    <h3>__contains包含哪个字段</h3>
    <p>{{ book_con }}</p>
    <hr>

    <h3>__range在哪个范围</h3>
    <p>{{ book_range }}</p>
    <hr>

    <h3>__in是不是在这几个值中</h3>
    <p>{{ book_in }}</p>

    <hr>
    <h3>__year,那个年份</h3>
    <p>{{ book_year }}</p>
    <p>{{ book_month }}</p>
    <p>{{ book_day }}</p>


    <script type="text/javascript" src=""></script>
    <script type="text/javascript"></script>
</body>
</html>